# ==========================================
# VIDEOZAPISI
# ==========================================
*.mp4
*.avi
*.mov
*.mkv


# ==========================================
# YOLO MODELI
# ==========================================
*.pt


# ==========================================
# PYTHON PRIVREMENE DATOTEKE
# ==========================================
__pycache__/
*.pyc
*.pyo


# ==========================================
# YOLO AUTOMATSKI GENERIRANI REZULTATI
# ==========================================
runs/


# ==========================================
# VS CODE
# ==========================================
.vscode/


# ==========================================
# OSTALO
# ==========================================
*.tmp
